<%
all_timetable_tables = data["timetable_" + I18n.locale.to_s]
timetable_tables = all_timetable_tables.clone
%>

<% if timetable_tables %>

  <div class="tt">

    <% timetable_tables.each do |table| %>

      <div class="tt-list">

        <div class="tt-header">
          <%= table.table %>
        </div>

        <% if table.message %>
          <div class="tt-message">
            <%= table.message %>
          </div>
        <% end %>

        <% table.days.each do |day| %>

          <div class="tt-day">
            <%= day.date %>
          </div>

          <% day.items.each do |item| %>
            <div class="tt-item">
              <div class="tt-col left">
                <div class="tt-title">
                    <%= item.title %>
                </div>
                <% if item.description || item.link %>
                  <div class="tt-info">
                    <% if item.description %>
                      <div class="tt-description">
                        <%= markitdown item.description %>
                      </div>
                    <% end %>
                    <% if item.link %>
                      <div class="tt-link">
                        <a href="<%= item.link %>" class="button" target="<%= item.link_target %>">
                          <%= item.link_title %>
                        </a>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <% if item.time || item.location || item.city || item.price %>
                <div class="tt-col right">
                  <div class="tt-meta">
                    <div class="tt-price">
                      <%= item.price %>
                    </div>
                    <div class="tt-time">
                      <%= item.time %>
                    </div>
                    <div class="tt-location">
                      <%= item.location %>
                    </div>
                    <div class="tt-city">
                      <%= item.city %>
                    </div>
                  </div>
                </div>
               <% end %>
            </div>
          <% end %>

        <% end %>

      </div>

    <% end %>

  </div>

<% end %>
