<form name="contact-<%= I18n.locale %>" method="POST" data-netlify="true" action="<%= locale_pretty_url("/bedankt.html") %>">
  <p>
    <label>
      <%= t("form.name") %>: <input type="text" name="<%= t("form.name") %>" />
    </label>
  </p>
  <p>
    <label><%= t("form.email") %>: <input type="email" name="<%= t("form.email") %>" /></label>
  </p>
  <p>
    <label><%= t("form.message") %>: <textarea name="<%= t("form.message") %>"></textarea></label>
  </p>
  <p>
    <button type="submit"><%= t("form.submit") %></button>
  </p>
</form>
