<section class="line-up">
  <div class="grid-row">

    <h2>
      Line-up
    </h2>

    <p>
      <%= t("pages.index.line-up.text") %>
    </p>

    <div class="line-up-wrapper">
      <div class="line-up-item">
        <%= image_tag "assets/images/line-up/a-tue-tete.png", alt: "À Tue-Tête!" %>
      </div>
      <div class="line-up-item">
        <%= image_tag "assets/images/line-up/bokke-methode-goat.png", alt: "Bokke / Methode Goat" %>
      </div>
      <div class="line-up-item">
        <%= image_tag "assets/images/line-up/antidoot-wilde-fermenten.png", alt: "Antidoot Wilde Fermenten" %>
      </div>
      <div class="line-up-item">
        <%= image_tag "assets/images/line-up/mills.png", alt: "Mill's Brewing" %>
      </div>
    </div>

    <%= locale_link_to t("pages.index.line-up.button"), "/line-up.html", class: "button big" %>

  </div>
</section>
