---
title: "Menu POC"
description:
  nl: "Test van Menu POC"
  en: "Test of Menu POC"
---

<section class="about">
  <div class="grid-row">

    <% data.menu.items.each do |beer| %>
      <div class="beer-item">
        <%= image_tag beer.label_image %><br>
        <h2><%= beer.name %> - <%= beer.style %></h2>
        <p>Alc: <%= beer.abv %>% * <%= beer.ibu.to_f.round(0) %> IBU * <%= beer.rating.to_f.round(2) %> * <strong><%= beer.brewery %></strong>
        <p><%= beer.description %></p>
        <p><%= link_to "Meer info", "https://untappd.com/b/#{beer.untappd_beer_slug}/#{beer.untappd_id}", target: "_blank" %></p>
      </div>
    <% end %>

  </div>
</section>
