---
title: "Menu"
description: "Check alle bij Just in Beer verkrijgbare bieren"
blog: menu
pageable: true
---

<section>
  <div class="grid-row">

    <ul>
      <% page_articles.each do |article| %>
        <li>
          <img src="<%= article.data.image %>" width="50">
          <h2><%= article.title %> <%= article.data.style %></h2>
          <div><%= article.data.abv %>% | <%= article.data.ibu %> IBU | <%= article.data.brewery %> | <%= article.data.rating %></div>
          <p><%= article.data.description %></p>
          <p>
            <a href="<%= article.data.untappd_url %>" target="_blank" rel="noopener noreferrer" title="Check bier op Untappd">Check bier op Untappd</a>
        </li>
      <% end %>
    </ul>

    <%= partial "menu/pagination", locals: current_page.metadata[:locals] %>

  </div>
</section>
