---
blog: blog
pageable: true
index: false
---

<section>
  <div class="grid-row">

    <ul>
      <% page_articles.each do |article| %>
        <li>
          <img src="<%= article.data.image %>" width="50">
          <h2><%= article.title %> <%= article.data.style %></h2>
          <div><%= article.data.abv %> % | <%= article.data.ibu %> IBU | <%= article.data.brewery %> | <%= article.data.rating %></div>
          <p><%= article.data.description %></p>
        </li>
      <% end %>
    </ul>

    <%= partial "blog/pagination", locals: current_page.metadata[:locals] %>

  </div>
</section>
