---
title: "Wild Festival Groningen"
description: "Welcome to the third edition of Wild Festival Groningen."
sitemap_priority: 1
blog: line-up
header_class: header-transparent
---
<section class="hero-wrap position-top">
  <div class="hero">
    <div class="hero-main">
      <div class="hero-inner">
        <h2>
          <%= dato.homepage.tagline %>
        </h2>
        <%= image_tag "assets/images/logo-wild-festival-groningen-white.svg", alt: "logo Wild Festival Groningen", class: "hero-logo" %>
        <h2 class="date">
          <%= dato.homepage.dates %>
        </h2>
      </div>
    </div>
  </div>
</section>
<% if !dato.homepage.postponed_text.empty? %>
  <section class="postponed wide-row">
    <div class="grid-row">
      <div class="row">
        <%= markdownify(dato.homepage.postponed_text) %>
      </div>
    </div>
  </section>
<% end %>
<section class="introduction wide-row">
  <div class="grid-row">
    <div class="row">
      <h1>
        <%= dato.homepage.title %>
      </h1>
      <%= markdownify(dato.homepage.text) %>
    </div>
  </div>
</section>
